* {
	margin: 0;
	padding: 0;
}

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@media only screen and (max-width: 400px) {
  html {
	  font-size: 12px;
  }
}

@media only screen and (max-width: 300px) {
  html {
	  font-size: 10px;
  }
}

@media only screen and (max-width: 200px) {
  html {
	  font-size: 8px;
  }
}

main {
	margin-top: 25vh;

	width: 400px;
	max-width: 90%;

	margin-left: auto;
	margin-right: auto;
}

.tagline {
	 font-stretch: expanded;
}

img {
	width: 100%;
}

h2 {
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0px;
	letter-spacing: -0.5px;
}

li {
	list-style-type: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}


.info {
	margin-top: 10px;
}

.info li {
	font-size: 1rem;
	font-weight: 500;


	letter-spacing: -0.5px;
}

.portfolio {
	text-align: left;
}

.contact {
	text-align: right;
}

.tagline {
	margin-top: 2rem;
	text-align: center;
	color: #555;
	font-weight: 400;
	font-size: 0.8rem;

	position: fixed;
	bottom: 20px;

	width: 100%;
}
