<!DOCTYPE html>
<head>

	<title>LATERAL</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://rsms.me/inter/inter.css" rel="stylesheet">
	<link href="https://rsms.me/raster/raster.grid.css?v=6" rel="stylesheet">

	<link rel="stylesheet" href="assets/style.css">

</head>
<body>

	<main>
		<img src="assets/logo.jpg" alt="LATERAL">

		<section class="info">
			<grid columns=24>
				<c span=11 class="portfolio">
					<h2>PORTFOLIO</h2>

					<ul>
						<li><a href="https://etalcollective.com/">etalcollective.com</a></li>
						<li><a href="https://montyanderson.net">montyanderson.net</a></li>
						<li><a href="https://noahgriffinart.com">noahgriffinart.com</a></li>
					</ul>
				</c>

				<c span=2></c>

				<c span=11 class="contact">
					<h2>CONTACT</h2>

					<ul>
						<li><a href="mailto:monty@lateral.design">monty@lateral.design</a></li>
						<li><a href="mailto:noah@lateral.design">noah@lateral.design</a></li>
						<li><a href="mailto:elsie@lateral.design">elsie@lateral.design</a></li>
					</ul>
				</c>
			</grid>
		</section>

		{{content}}
	</main>

</body>
